.ranking-table ul {
  transform: skew(-3deg);
  border: 3px solid black;
}

.ranking-table li {
  display: block;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  background-image: url(circleBackground.svg);
  background-repeat: repeat;
  background-blend-mode: multiply;
  border-bottom: 2px solid #969696;
}

.historic-table .list-group-item:nth-child(odd) .card {
  background-color: #ececec;
}

.ranking-table h5 {
  font-family: "Bangers", cursive;
  font-size: 2rem;
}

.ranking-table p {
  font-family: "Bangers", cursive;
  font-size: 2rem;
  margin-bottom: 0;
}

.ranking-table p span {
  font-family: "Oswald", cursive;
  font-size: 2rem;
}

.ranking-table .winNumber {
  color: #28a745;
}

.ranking-table .loseNumber {
  color: #dc3545;
}
