.heroFrameAngle > a {
  transform: skew(-5deg);
  display: block;
  text-decoration: none;
  color: black;
}

#heroesListSection {
  color: #fff;
}

#heroesListSection h3 {
  font-family: "Bangers", cursive;
  text-align: right;
  font-size: 3rem;
}

#heroesListSection h2 {
  font-family: "Bangers", cursive;
  font-size: 4rem;
}

.cardTitleHero {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 1.5vw;
  text-decoration: none;
}

.card {
  font-family: "Bangers", cursive;
  color: #333;
}

#heroesListSection .battleCard .card-body {
  padding-bottom: 0px;
}

#heroesListSection .heroFrameAngle .card-body {
  padding: 10px 0 0 0;
}

#heroesListSection .itemTitleBiography {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .cardTitleHero {
    font-size: 2.5vw;
  }
}

@media (max-width: 767.98px) {
  .cardTitleHero {
    font-size: 3vw;
  }
}

@media (max-width: 575.98px) {
  .cardTitleHero {
    font-size: 3.7vw;
  }
}
